* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif    
}

header {
    position: sticky;
    top: 0;    
    width: 100%;   
    z-index: 1000;
    background-color: white;
}

div.navbarContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px 10vw;
}

div.navbarContainer div.logoContainer img{
    height: 60px;
}

div.navbarContainer div.linksSearchContainer {
    display: flex;
    align-items: center;
}

div.navbarContainer div.linksSearchContainer div.navLinksContainer ul {
    display: flex;
    list-style: none;
    
}

div.navbarContainer div.linksSearchContainer div.navLinksContainer ul li, .navLinks {
    margin: 0 10px;
    color: black;
    text-decoration: none;
}

div.navbarContainer div.linksSearchContainer div.searchContainer {
    display: flex;
    align-items: center;
    margin: 0 10px;    
} 

div.navbarContainer div.linksSearchContainer div.searchContainer img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

div.navbarContainer div.linksSearchContainer div.searchContainer input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

div.focusContainer, div.downloadsContainer {
    width: 100%;
    margin: 0 auto;   
    padding: 0 20%; 
}

div.focusContainer div.mainText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 50px;
}

div.focusContainer div.mainText img {
    display: block; 
}

div.focusContainer div.mainText h1 {
    font-size: 3em;
    margin: 0 10px;
    font-weight: 600;
}

div.focusContainer div.midText {
    margin: 50px 0;    
}

div.focusContainer div.midText h3 {
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
}

div.focusContainer div.downloadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

div.focusContainer div.downloadButton button {
    font-size: 14px;
    color: white;
    background-color: #00b6d1;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
}

div.downloadsContainer div.downloadHeading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 100px 0 50px;
}

div.downloadsContainer div.downloadHeading img{
    width: 60px;
}

div.downloadsContainer div.downloadHeading h3{
    margin-left: 30px;
    font-weight: 600;
    font-size: 1.4em;
}

div.downloadsContainer div.downloadHeading span{
    font-weight: lighter;
}

div.downloadsContainer div.downloadHeading a{
    text-decoration: none;
    color: black;
}

div.downloadsContainer div.downloadOptions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;    
}

div.downloadsContainer div.downloadOptions div.downloadOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
}

div.downloadsContainer div.downloadOptions div.downloadOption div.language p {
    font-size: smaller;
    margin-top: 10px;
}

div.downloadsContainer div.downloadOptions div.downloadOption div.downloadButtonIndividual button {
    font-size: 14px;
    color: white;
    background-color: #5cb85c;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    padding: 8px 16px;
    cursor: pointer;
    margin: 20px 0;
}

div.downloadsContainer div.downloadOptions div.downloadOption div.hashCode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
div.downloadsContainer div.downloadOptions div.downloadOption div.hashCode .hash {
    font-size: 0.8em;    
}

div.downloadsContainer div.downloadOptions div.downloadOption div.hashCode .code {
    margin-top: 10px;
    font-size: 0.5em;    
    letter-spacing: 0.14em;
    font-weight: 400;    
    word-break: break-word;    
    max-width: 100%; 
    line-height: 1rem;    
}

div.subscribeContainer {
    background-color: #222; 
    color: white;   
    width: 100%;
    padding: 50px 20%;
    margin: 100px 0 50px;
}

div.subscribeContainer div.newsLetter {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

div.subscribeContainer div.newsLetter div.joiningText {
    padding: 0 20% 0 10%;
}

div.subscribeContainer div.newsLetter div.joiningText h3 {
    font-size: 1.7em;
    font-weight: 700;
}

div.subscribeContainer div.newsLetter div.joiningText p {
    margin-top: 20px;
}


div.subscribeContainer div.newsLetter div.signUpForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 30px 35px;
    border-radius: 10px;
}

div.subscribeContainer div.newsLetter div.signUpForm h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: #00b6d1!important;
}

div.subscribeContainer div.newsLetter div.signUpForm p {    
    font-weight: 400;
    margin-top: 20px;
}

div.subscribeContainer div.newsLetter div.signUpForm input {
    padding: 15px;
    margin: 20px 0;
    border: 1.5px solid #94cdd6;
    border-radius: 5px;
    
}

div.subscribeContainer div.newsLetter div.signUpForm input::placeholder {
    visibility: hidden;
}

div.subscribeContainer div.newsLetter div.signUpForm input:focus {
    border: 1.5px solid #94cdd6; 
    box-shadow: 0 0 6px 0 rgba(0, 182, 209, 0.8);  
    outline: none;  
    transition: all 0.3s ease;  
}

div.subscribeContainer div.newsLetter div.signUpForm button {
    padding: 15px;
    background-color: #00b6d1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-family: inherit;
    font-size: medium;
}

div.subscribeContainer div.basicProductInfo {
    margin-top: 50px;
}

div.subscribeContainer div.basicProductInfo h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 20px 0;
}

div.subscribeContainer div.basicProductInfo a {
    text-decoration: none;
    color: #00b6d1;
}

div.queryContainer {
    display: flex;
    justify-content: center;
}

div.queryContainer div.importantLinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
}

div.queryContainer div.importantLinks li, div.queryContainer div.newsLetterContainer li {
    list-style: none;
    margin-top: 5px;
    font-size: 0.9em;
}

div.queryContainer div.importantLinks a, div.queryContainer div.newsLetterContainer a {
    text-decoration: none;
    color: black;
}

div.queryContainer div.importantLinks p, div.queryContainer div.newsLetterContainer p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

div.queryContainer div.importantLinks div.query div.links {    
    width: 80%;
}

div.queryContainer div.newsLetterContainer {
    display: flex;
    flex-direction: column;
}

div.queryContainer div.newsLetterContainer input {
    padding: 10px;
    margin: 20px 0;
    border: 1.5px solid #94cdd6;
    border-radius: 5px;  
}

div.queryContainer div.newsLetterContainer input:focus {
    border: 1.5px solid #94cdd6; 
    box-shadow: 0 0 6px 0 rgba(0, 182, 209, 0.8);  
    outline: none;  
    transition: all 0.3s ease;
}

div.queryContainer div.newsLetterContainer button {
    padding: 10px;
    background-color: #00b6d1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-family: inherit;
    font-size: medium;
}

footer {
    width: 100%;
    padding: 0 20%;    
}
div.footerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-top: 70px;
    align-items: center;
}

div.footerContainer div.logo img {
    height: 60px;
}

div.footerContainer div.socialLinks {
    justify-self: flex-end;
}

div.footerContainer div.socialLinks img {
    height: 30px;
    margin-left: 10px;
}

div.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 10px 0;
}

